<h1><%= @user.user_name %></h1>
<%= link_to 'new_post', new_user_post_path(@user) %>

<% @user.posts.each do |post| %>
  <h2><%= link_to post.title, user_post_path(@user, post) %></h2>
  <%= render post %>
<% end %>



